body{
    display: flex;
    flex-direction: column;
    background: url('../img/logo.png');
    background-attachment: fixed;
}

.formatacontainer{
    border: 5px solid #e6a417;
    padding: 0px;
    width: 610px;
    height: 460px;
}

.formatawhattsapp{
    margin-left: 200px;
    
}

